body {
   color: white;
   background: black;
   margin: 0px;
}

header {
    border-bottom: solid 2px rgb(153, 56, 56);
    padding: 20px;
    font-size: 32px;
    color: rgb(153, 56, 56);
}

section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
}