@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
   color: white;
   background: black;
   margin: 0px;
}

header {
    border-bottom: solid 2px rgb(253, 114, 0);
    padding: 20px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.925);
}

section {
    background: rgb(2, 124, 194);
    padding-bottom: 80px;
    padding-top: 80px;
}

.chamada-texto {
    margin-left: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 40px;
}